body {
    font-family: Arial, Helvetica, sans-serif
    margin-left: 0;
    padding: 0;
    background-color: hsla(0, 0%, 18%, 0.918)
}
header {
    background-color: rgba(48, 51, 53, 0.842);
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.menu-media li {
    display: inline-block;
    margin: 0 10px;
}
#logo-empresa {
    max-width: 100%;
    display: block;
    margin: -30px auto;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 2px solid #9b9b9b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10);
    z-index: 9999;

}
.about {
    background-color: #f8f8f8c4;
    padding: 30px;
    text-align: center;
    margin: 50px;
}

.about h2 {
    font-size: 28px;
    color: #9b9b9b;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    color: #8f8e8e;
    line-height: 1.6;
}

body {
    background-image: url('sushi.jpg'); 
    background-size: auto; 
    background-position: center; 
    margin: 0; 
    padding: 0; 
    height: 100vh; 

  }

  .about h2 {
    font-size: 28px;
    color: #2c2c2c;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    color: #363636;
    line-height: 1.6;
}

.services {
    background-color: #ffffffbd;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.services li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.services h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.services ul li .price {
    font-size: 20px;
    color: #333333;
}
.services .read-more-button {
    background-color: #516674;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.reviews .read-more-button {
    background-color: #516674;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}


.services .read-more-button:hover {
    background-color: rgba(103, 94, 143, 0.776)
}

.reviews .read-more-button:hover {
    background-color: #516674;
}
.reviews {
    background-color: #f9f9f9c4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reviews h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.review-card {
    background-color: #ffffffd7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.review-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
.review-author {
    margin-top: 15px;
}

.review-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.review-author span {
    font-weight: bold;
    color: #333;
    font-size: 18px;
    vertical-align: middle;
}
.social-media {
    list-style: none;
    padding: 0;
    text-align: center;
}
.social-media li {
    display: inline-block;
    margin: 0 10px;
}

.social-media a {
    text-decoration: none;
    color: #222222;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.social-media a:hover {
    color: #3b8598; /* Color de Facebook */
}