body {
    font-family: sirukota;
    margin-left: 0;
    padding: 0;
    background-color: hsla(0, 0%, 18%, 0.918)
}
header {
    background-color: rgba(48, 51, 53, 0.842);
    color: #fff;
    padding: 30px 0;
    text-align: center;
    


}


  .menu-media li {
    display: inline-block;
    margin: 0 10px;
}
#logo-empresa {
    max-width: 100%;
    display: block;
    margin: -30px auto;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 2px solid #9b9b9b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10);
    z-index: 9999;

}



.about {
    background-color: #5e5e5ee0;
    padding: 30px;
    text-align: center;
    margin: 50px;
}

.about h2 {
    font-size: 28px;
    color: #e9e9e9;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    color: #b8b8b8;
    line-height: 1.6;
}

body {
    background-image: url('sushi.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: auto; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    height: 100vh; /* Establece la altura al 100% de la altura visible del dispositivo */
    /* Otros estilos para el cuerpo de la página si es necesario */
  }